[submodule "UDPlogger"]
	path = UDPlogger
	url = https://github.com/HomeACcessoryKid/UDPlogger
[submodule "esp-adv-button"]
	path = esp-adv-button
	url = https://github.com/HomeACcessoryKid/esp-adv-button
